h1 {
  text-align: center;
  color: black;
  font-family: roboto;
  background-color: aliceblue;
  border: solid black 2px;
  border-radius: 5px;
}

table {
  font-family: roboto;
}

table td {
  padding: 10px;
}
table th {
  text-align: left;
  border: solid 1px;
  background-color: lightgray;
  font-family: "sans-serif";
}

table tr td {
  border: solid 1px;
}

.declaration {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.code {
  font-family: monospace;
  color: white;
  background-color: black;
}

.blue {
  background-color: lightblue;
}

.yellow {
  background-color: yellow;
}